.attraction__caption {
  margin: 0 auto;
  margin-bottom: 28px;
}

.attraction__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
  }
}

.attraction__item {
  &:not(:last-child) {
    margin-bottom: 54px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.attraction__label {
  padding-left: 53px;
}
