.benefits__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.benefits__item {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    text-align: center;

    &:nth-child(2) {
      order: 3;
    }
  }
}

.benefits__title {
  position: relative;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -50px;
    width: 40px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--house::before {
    background-image: url("../../img/index-page/icon-house.svg");
  }

  &--eat::before {
    background-image: url("../../img/index-page/icon-burger.svg");
  }

  &--souvenirs::before {
    background-image: url("../../img/index-page/icon-gift.svg");
  }
}
