.benefits__item {
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -50px;
    width: 40px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.benefits__item--house::before {
  background-image: url("../../img/index-page/icon-house.svg");
}

.benefits__item--eat::before {
  background-image: url("../../img/index-page/icon-burger.svg");
}

.benefits__item--souvenirs::before {
  background-image: url("../../img/index-page/icon-gift.svg");
}
