.button {
  padding: 15px 45px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }
}

.button:active .active-opacity-text {
  opacity: 0.3;
}

.button--attraction {
  padding: 18px 64px 14px;
}

.button--emotions {
  width: 100%;
}
