.button {
  padding: 15px 45px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active .active-opacity-text {
    opacity: 0.3;
  }

  &--interest {
    @media (min-width: @tablet-width) {
      padding: 16px 121px;
    }
  }

  &--main-form {
    @media (min-width: @desktop-width) {
      padding: 16px 121px;
    }
  }

  &--attraction {
    padding: 18px 64px 14px;

    @media (min-width: @tablet-width) {
      padding: 18px 108px 13px;
    }
  }

  &--emotions {
    @media (min-width: @tablet-width) {
      padding: 19px 140px 14px;
    }
  }
}
