.contact-information {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.contact-information__caption {
  margin: 0 auto;
}


.contact-information__item {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
  }
}
