.galery__header {
  padding-bottom: 37px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 440px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.galery__photo-list {
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: 63px;
  }
}

.galery__video-content {
  @media (min-width: @tablet-width) {
    padding: 0 60px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
