.inner-header {
  line-height: 24px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    width: 648px;
    margin: 0 auto;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}
