.inner-intro-images {
  min-height: 214px;
  background-image:
    url(../../img/form-page/SEDONA.svg),
    url(../../img/form-page/intro-triangle.svg),
    url(../../img/form-page/back-desktop.jpg);
  background-repeat: no-repeat;
  background-position: 45px 105px, bottom, 0 0;
  }
