.inner-intro-images {
  background-image:
    url("../../img/form-page/sedona.svg"),
    url("../../img/index-page/intro-triangle-mobile.svg"),
    url("../../img/index-page/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 45px 55px, bottom, 50% 100%;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../../img/form-page/sedona.svg"),
      url("../../img/index-page/intro-triangle-mobile.svg"),
      url("../../img/index-page/back-mobile.jpg");
    background-size: 229px auto, 320px auto, cover;
  }

  @media (min-width: @tablet-width) {
    background-image:
      url("../../img/form-page/sedona.svg"),
      url("../../img/index-page/intro-triangle.svg"),
      url("../../img/index-page/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50% 45%, bottom, 50% 100%;
    background-size: 460px 78px, 1200px 57px, 1200px auto;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../img/form-page/sedona.svg"),
        url("../../img/index-page/intro-triangle.svg"),
        url("../../img/index-page/back-desktop@2.jpg");
      background-position: 50% 45%, bottom, 50% 100%;
      background-size: 460px 78px, 1200px 57px, 1200px auto;
    }
  }
}
