.intro-images {
  background-image:
    url("../../img/index-page/text-index.svg"),
    url("../../img/index-page/intro-triangle-mobile.svg"),
    url("../../img/index-page/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 20px 90px, left bottom, right bottom, 50%;

  @media (min-width: @tablet-width) {
    background-image:
      url("../../img/index-page/text-index.svg"),
      url("../../img/index-page/intro-triangle.svg"),
      url("../../img/index-page/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50% 46%, bottom, 50%;
    background-size: 461px 350px, auto, cover;
  }
}
