.introduce-yourself__caption {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.introduce-yourself__item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
