.main-form {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.main-form__item {
  padding: 20px;

  &:not(:last-of-type) {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
}

.main-form__button {
  margin: 0 auto;
}
