.main-form {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.main-form__item {
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;

    @media (min-width: @tablet-width) {
      margin-bottom: 67px;
      border-bottom: none;
    }
  }
}

.main-form__item--introduce-yourself {
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-left: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
  }
}

.main-form__item--impression {
  padding-bottom: 43px;

  @media (min-width: @tablet-width) {
    padding: 0;
    order: -1;

    &::after {
      content: "";
      position: absolute;
      bottom: 1px;
      left: 100%;
      width: 1px;
      height: 292px;
      background-color: #dbdbdb;
    }
  }
}

.main-form__item--contact-information {
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    padding-bottom: 0;
  }
}

.main-form__item--attraction {
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    width: 455px;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.main-form__item--emotions {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}


.main-form__legend {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    justify-self: end;
    font-weight: 400;
  }
}

.main-form__button {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0;
  }
}
