.main-form {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.main-form__item {
  &:not(:last-of-type) {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;

    @media (min-width: @tablet-width) {
      border-bottom: none;
    }
  }
}

.main-form__item--impression {
  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.main-form__item--contact-information {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.main-form__item--attraction {
  @media (min-width: @tablet-width) {
    width: 455px;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.main-form__item--emotions {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}


.main-form__legend {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    justify-self: end;
    font-weight: 400;
  }
}

.main-form__button {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
