.main-nav__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 693px;
    margin: 0 auto;
    background-color: #ffffff;
    filter: none;
  }

  @media (min-width: @desktop-width) {
    width: 1040px;
  }
}

.main-nav__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
