.page-footer {
  padding: 20px;
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: @desktop-width) {
    max-width: 967px;
    margin: 0 auto;
  }
}

.page-footer__social {
  margin-bottom: 40px;
}
