.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  position: relative;
  display: block;
  align-self: center;
  order: 2;
  height: 56px;

  @media (min-width: @tablet-width) {
    position: absolute;
  }
}
