.photo-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo-list__item {
  padding-bottom: 13px;
  border-bottom: 1px solid #e5e5e5;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    &:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: -1;
    }

    border-bottom: none;
  }

  &:nth-child(3) {
    & .photo-list__info-image-container {
      @media (min-width: @tablet-width) {
        background-color: #eaeaea;
      }

      @media (min-width: @desktop-width) {
        background-color: transparent;
      }
    }
  }
}

.photo-list__photo-container {
  margin-bottom: 6px;
}

.photo-list__info-image-container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f2f2f2;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.photo-list__signature {
  margin: 0;
}

.photo-list__author {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-transform: none;
}

.photo-list__like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  margin: 0;
}

.photo-list__like-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;

  &:hover path,
  &:focus path {
    fill: #81b3d2;
  }

  &:active {
    opacity: 0.3;
  }
}
