.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  // display: none;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  &--error-popup {
    z-index: 1;

    @media (min-width: @tablet-width) {
      width: 400px;
    }
  }

  &--submit-popup {
    @media (min-width: @tablet-width) {
      width: 640px;
    }
  }
}

.popup__wrapper {
  &--error-popup {
    padding: 20px 41px 35px;

    @media (min-width: @tablet-width) {
      padding: 15px 60px 55px;
    }
  }

  &--submit-popup {
    padding: 20px 41px 15px;

    @media (min-width: @tablet-width) {
      padding: 19px 99px 26px 97px;
    }
  }
}

.popup__title {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    &--error-popup {
      padding: 0 15px;
    }
  }
}

.popup__subtitle {
  margin-bottom: 22px;
  line-height: 24px;

  &--error-popup {
    margin-bottom: 35px;
  }
}

.popup__button-container {
  padding: 20px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    padding: 44px 91px;
  }
}

.popup__button {
  &--error {
    width: 180px;

    @media (min-width: @tablet-width) {
      width: 272px;
    }
  }

  &--submit-popup {
    width: 100%;
  }
}
