.reason {
  text-align: center;
  color: #ffffff;
  background-color: #81B3D2;
}

.reason--city {
  padding: 55px 12px 30px;
  background-image: url(../../img/index-page/white-border.png);
  background-repeat: no-repeat;
  background-position: top;
}

.reason--bridge {
  padding: 20px 15px;
}

.reason__title {
  color: inherit;
}
