.reasons__first-reason {
  margin-bottom: 35px;

  &::after {
    content: "";
    display: block;
    width: 320px;
    height: 256px;
    background-image: url("../../img/index-page/photo-city.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.reasons__benefits {
  margin-bottom: 25px;
}

.reasons__second-reason {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.reasons__second-reason img {
  display: block;
}

.reasons__other-reasons {
  padding-top: 10px;
  margin-bottom: 30px;
}
