.reason {
  padding: 55px 12px 40px;
  text-align: center;
  color: #ffffff;
  background-color: #81B3D2;
}

.reason--city {
  background-image: url(../../img/index-page/white-border.png);
  background-repeat: no-repeat;
  background-position: top;
}

.reason__title {
  color: inherit;
}
