.site-list {
  @media (max-width: @mobile-width) {
    background-color: #81b3d2;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
  }
}

.site-list__item {
  @media (min-width: @tablet-width) {
    width: 20%;
    box-shadow: none;
  }
}

@media (min-width: @tablet-width) {
  .site-list__item:nth-child(4n-2) {
    margin-right: 20%;
  }
}

.site-list__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;

  @media (max-width: @mobile-width) {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);

    &:hover,
    &:focus {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
    }

    &:active .active-opacity-text {
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 16px;
    padding-bottom: 14px;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #000000;

    &:hover,
    &:focus {
      color: #81b3d2;
    }

    &:active {
      color: #000000;
      opacity: 0.3;
    }

    &--active {
      color: #766357;

      &:hover,
      &:focus {
        color: #604e43;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}
