.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  &--reasons-header {
    @media (min-width: @tablet-width) {
      font-size: 21px;
    }
  }

  &--medium {
    @media (min-width: @tablet-width) {
      font-size: 21px;
    }
  }

  &--interest {
    font-size: 21px;
  }

  &--legend {
    text-align: center;

    @media (min-width: @tablet-width) {
      font-size: 21px;
    }
  }

  &--big {
    @media (min-width: @tablet-width) {
      font-size: 30px;
    }
  }

  &--error-popup {
    @media (min-width: @tablet-width) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  &--submit-popup {
    @media (min-width: @tablet-width) {
      font-size: 30px;
      line-height: 26px;
    }
  }

  &--legend-decor {
    @media (min-width: @tablet-width) {
      display: flex;
      align-items: center;

      &::before,
      &::after {
        content: "";
        width: 123px;
        height: 1px;
        background-color: #dbdbdb;

        @media (min-width: @desktop-width) {
          width: 280px;
        }
      }

      &::before {
        margin-right: 46px;
      }

      &::after {
        margin-left: 46px;
      }
    }
  }
}
