.user-info-input {
  padding: 18px 22px 14px;
  font-family: "PT Sans", "Aria", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;

  &--full-width {
    width: 100%;
  }

  &--textarea {
    padding: 13px 22px 29px;
  }
}
