.user-info-input {
  padding: 18px 22px 14px;
  font-family: "PT Sans", "Aria", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;

  &--full-width {
    width: 100%;
  }

  &--textarea {
    padding: 13px 22px 29px;
    min-height: 120px;
  }

  &--contacts {
    padding-right: 48px;

    @media (min-width: @tablet-width) {
      padding-right: 80px;
    }
  }

  &--tel {
    background-image: url("../../img/form-page/phone.svg"), linear-gradient(to left, #e6e6e6 58px, transparent 58px);
    background-repeat: no-repeat;
    background-position: right 20px top 50%, 0 0;
  }

  &--email {
    background-image: url("../../img/form-page/mail.svg"), linear-gradient(to left, #e6e6e6 58px, transparent 58px);
    background-repeat: no-repeat;
    background-position: right 20px top 47%, 0 0;
  }
}
